.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none; 
    -moz-user-select: none;
    user-select: none; 
}

.unselectable::selection {
    background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

.collapsed > div, .collapsed > p {
    display: none;
}

.collapse-button {
    cursor: pointer;
}