.reset-password-button {
    border: none;
    background: none;
    cursor: pointer;
}

.reset-password-button span {
    color: white;
    padding-bottom: 7px;
}

.reset-password-button:active span {
    color: #26499d;
}

.hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.reset-password-button:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
